body {
    display: flex;
}

#main-container {
    margin: auto;
    border: 1px solid #D6D6D6;
    text-align: center;
}

.main-btn {
    outline: 0;
    background-color: transparent;
    border: none;
    padding: 1% 2%;
    margin: 1%;
}

.main-btn:hover {

    background-color: #F3F2F1;
}

.main-btn:focus {
    outline-color: #00bcf2;
    outline-width: 1px;
    outline-style: dashed;
}

.label-top {
    position: absolute;
    top: -25;
}

select {
    width: 181.6px;
    height: 30px;
}